name: CleAuto - Build & Notification

on:
  push:
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "GHCR_REPOSITORY=deuky/cleauto-pdfbox" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: base
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_REPOSITORY }}/base:${{ env.RELEASE_VERSION }}
            ghcr.io/${{ env.GHCR_REPOSITORY }}/base:latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: artifact
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_REPOSITORY }}/artifact:${{ env.RELEASE_VERSION }}
            ghcr.io/${{ env.GHCR_REPOSITORY }}/artifact:latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: unit
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.GHCR_REPOSITORY }}/unit:${{ env.RELEASE_VERSION }}
            ghcr.io/${{ env.GHCR_REPOSITORY }}/unit:latest
